@import '../variables/variables.scss';

.right-panel {
    padding: 3rem;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
    }

    .nav-links {
        display: flex;
        gap: 2rem;

        a {
            color: $light;
            text-decoration: none;
            font-weight: 500;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $accent;
                transition: width 0.3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    .tech-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-top: 3rem;
        padding: 20px;
    }

    .tech-card {
        background: $medium_dark;
        border-radius: 10px;
        padding: 1.5rem;
        transition: all 0.3s;
        border: 1px solid $lighter_dark;

        &:hover {
            transform: translateY(-5px);
            background: $lighter_dark;
            border-color: $secondary;
        }
    }

    .tech-icon {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $secondary;
    }
}