@import '../variables/variables.scss';

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .testing-grounds {
        height: 200px;
        width: 400px;
        border-radius: 5px;
        background-color: $lighter_dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;

        .test-translation {
            background-color: $accent;
            padding: 12px 24px;
            border-radius: 12px;
        }

        .output {
            background-color: $primary;
            padding: 12px 24px;
            border-radius: 12px;
        }

        .test-btn {
            background-color: $secondary;
            padding: 12px 24px;
            border-radius: 12px;
            color: $light; 
        }
    }
}