@import '../variables/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: $dark;
    color: $light;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    min-height: 100vh;
    position: relative;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
    }
    
    .left-panel {
        padding: 2rem;
    }
    
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .tech-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .intro {
        max-width: 100%;
    }
}