

.grid_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

@media (max-width: 1260px) {

    .grid_layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 748px) {

    .grid_layout {
        grid-template-columns: repeat(1, 1fr);
    }

}

.cell {
    min-height: 250px;
    padding: 18px;

    position: relative;


    border-radius: 14px;
    border: 1px solid var(--border);
    background-color: var(--bg-200);
    color: var(--text);

    cursor: pointer;

    transition: border-color .3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;


    text-decoration: none;

    transition: filter .3s ease;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    p {
        color: var(--text);
    }
}

.cell:hover {
    border-color: var(--accent);

    img {
        filter: blur(0px);
    }
}

.cell::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

    border-radius: 14px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color:  hsl(from var(--bg-200) h s l / .6);
    z-index: 1;
}

.cell * {
    z-index: 2;
}

.grid_layout:has(.cell:hover) .cell:not(:hover) {
    filter: blur(2px);
}

.tech_wrapper {
    display: flex;
    gap: 5px;
}

.tech {
    font-size: 14px;
    padding: 1px;
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--accent);
    color: var(--accent);
}


.muted {
    color: var(--text-muted);
    font-size: 16px;
}

